/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/lato-v24-latin/lato-v24-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/lato-v24-latin/lato-v24-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/lato-v24-latin/lato-v24-latin-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  
html {
    box-sizing: border-box; /*padding не добавляется к размерам блока, а входит в размеры блока*/
}

*, *::before, *::after {
    box-sizing: inherit; /*inherit - наследование от родителя*/
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .4s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0e1d28;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 82px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: .75;
}

.header_burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.header_burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.header_burger-line_first {
  top: 0;
}

.header_burger-line_second {
  top: 50%;
  transform: translateY(-50%);
}

.header_burger-line_third {
  bottom: 0;
}



/* Header styles end */

/* Intro styles starts */

.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro_title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro_subtitle {
  max-width: 546px; 
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;
}

.search-form_field {
  width: 297px;
  background: transparent url(../img/svg/circle-item.svg) no-repeat left 7px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form_field::placeholder{
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form_submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
  background: #0e66da;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits_wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  position: relative;
}

.benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;

}

.benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits_card-pic-thumb {
  display: block;
}

.benefits_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 26px;
}

.benefits_card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 39px;
}

.benefits_card-more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
  transition: .2s all;
}


.benefits_card-more:hover, .benefits_card-more:focus {
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}

.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_title {
  margin-right: 15px;
}

.places_view-all {
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
  transition: .2s all;
}

.places_view-all:hover, .places_view-all:focus {
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
  opacity: .65;
}

.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
}

.places_card {
  position: relative;
  overflow: hidden;
}

.places_card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places_card:hover .places_card-pic{
  transform: scale(1.05);
}
 
.places_card-title {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_card_size_lg {
  grid-column: span 3;
  margin-bottom: 10px;
}

.places_card-pic {
  width: 100%;
  transition: .5s;
}

.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places_card-pic_size_lg {
  height: 100%;
  object-fit: cover;
}

.places_card-pic_size_sm {
  height: 100%;
  object-fit: cover;
}

.places_card_size_sm {
  grid-column: span 2;
}

/* Places styles end */

/* Tours styles start */

.tours {
  margin-bottom: 139px;
}

.tours_tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour_info {
  padding-left: 47px;
}

.tour_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  color: #102746;
  margin-bottom: 85px;
}

.tour_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 58px;
}

.tour_more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
  transition: .2s all;
}


.tour_more:hover, .tour_more:focus {
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

/* Tours styles end */

/* Top styles start*/

.top {
  margin-bottom: 144px;
}

.top_title {
  margin-bottom: 54px;
}

.top_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
}

.top_card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  margin-bottom: 30px;
}

.top_card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top_card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 15px 24px;
  margin-bottom: 4px;
}

.top_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  margin: 0 auto 0 0;
}

.top_card-like {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding-right: 20px;
  background: url(../img/svg/heart-icon.svg) no-repeat right;
  margin-right: 14px;
}

.top_card-comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top_card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #102746;
  margin-bottom: 31px;
}

.top_card-more {
  width: 118px;
  padding: 12px 19px;
  background: #1B7DFF;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top_card-more:hover, .top_card-more:focus, .top_card-more:active {
  background: #0e66da;
}

/* Top styles end*/

/* Video styles start */

.video {
  width: 100%;
  margin-bottom: 144px;
}

.video_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video_item {
  padding-top: 56.25%; /*соотношение сторон 16:9 для видео*/
}

.video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video styles end */

/* Footer styles start */

.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer_item {
  display: flex;
  flex-wrap: wrap;
}

.footer_logo {
  width: 50%;
}

.footer_nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_menu-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.footer_menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
}

.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active {
  opacity: .75;
}

/* Footer styles end */

/* Media start*/

@media screen and (max-width: 960px) {
  
  .benefits {
    margin-bottom: 75px;
  }

  .search-form_field {
    margin-bottom: 25px;
  }

  .benefits_card {
    margin-bottom: 60px;
  }

  .benefits_cards {
    grid-column-gap: 35px;
  }

  .benefits_title {
    padding: 55px 15px;
  }

  .benefits_wrap {
    box-shadow: none;
  }

  .places_card_size_lg {
    grid-column: span 6;
    margin-bottom: 10px;
  }

  .places_card_size_sm {
    grid-column: span 6;
    margin-bottom: 10px;
  }

  .tour_title {
    margin-bottom: 15px;
  }

  .tour_desc {
    margin-bottom: 15px;
  }

  .tours_tour {
    grid-column-gap: 35px;
  }

  .top_card {
    grid-column: span 3;
    margin-bottom: 15px;
  }

  .top_cards {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .footer {
    padding: 60px 50px;
  }
}

@media screen and (max-width: 767px){
  .header_burger {
    display: block;
  }
  .header_wrapper {
    padding-top: 28px;
  }
  .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e1d28;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%); /* сдвиг вправо */
    transition: .2s all linear;
  }
  .header_nav_active {
    transform: translateX(0);
  }
  .header_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header_item:last-child {
    margin-bottom: 0;
  } 
  .header_link {
    font-size: 42px;
    line-height: 48px;
  }
  .header_nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header_nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header_nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header_nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .benefits {
    margin-bottom: 20px;
  }

  .benefits_card {
    grid-column: span 3;
  }

  .places_title {
    margin-bottom: 36px;
  }

  .section-title::after {
    width: 78px;
  }

  .search-form_field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: transparent url(../img/svg/circle-item.svg) no-repeat left top;
  }

  .search-form_field::placeholder {
    font-style: 16px;
  }

  .search-form_submit {
    width: 100%;
  }

  .intro {
    padding-top: 125px;
  }
  .intro_title {
    font-size: 37px;
    line-height: 48px;
  }
  .intro_subtitle {
    font-size: 16px;
  }

  .places {
    margin-bottom: 30px;
  }

  .places_view-all {
    margin-bottom: 10px;
  }

  .places_caption {
    margin-bottom: 0;
  }

  .tours_tour {
    margin-bottom: 30px;
  }

  .tour_pic, .tour_info {
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tour_pic_mob_first {
    grid-row-start: -1;
  }

  .tour_info {
    padding-left: 10px;
  }

  .tours {
    margin-bottom: 0;
  }

  .top_card {
    grid-column: span 6;
  }

  .top_card-stats {
    max-width: 386px;
  }

  .top_card-pic {
    margin-bottom: 10px;
  }

  .top_card-desc {
    margin-bottom: 10px;
  }
  
  .top {
    margin-bottom: 30px;
  }

  .video {
    margin-bottom: 60px;
  }

  .footer_logo {
    width: 100%;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .footer_nav {
    width: 100%;
  }

  .footer_menu {
    margin-bottom: 20px;
    width: 50%;
  }
}


/* Media end */ 